body{
    font-family: sans-serif, Arial, Helvetica;
    background-image: url(assets/Background\ .png);
    padding-top: 100px;
}

.heroVideo{
    display: block;
    height: auto;
    width: 100%;
    margin-top: 120px;
    object-fit: cover;
}

header{
    position: fixed;
    background-color:white;
    top:0;
    left:0;
    right:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    align-items: center;
    box-shadow: 0 4px 6px pink;
}

.img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.logo{
    padding: 10px;
    margin: 10px;
    width: 130px;
    height: auto;
}

.menu {
    float: right;   
}

.menu a{
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #333
}

.menu a:hover {
    color: pink;
}

.introTextBox{
    text-align:center;
    background-color: pink;
    padding: 25px;
    font-weight: bold;
}

footer {
    background-color: pink;
    color: black; 
    text-align: center; 
    padding: 25px;
    margin-top: 40px; 
}

footer img{
    padding: 10px;
    margin: 10px;
    width: 130px;
    height: auto;
}

@media screen and (max-width: 800px){
    .menu a{
        margin: 8px;
    }
}